<section
  class="vh-100 bg-image"
 style="background-color: rgb(71, 143, 131)">

>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-121 col-md-91 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-center mb-5">Create CV</h2>
              <!-- {{ form.value | json }} -->

              <form [formGroup]="form">
                <h3>Personal Information</h3>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="text"
                        placeholder="Firstname"
                        id="form3Example1m"
                        class="form-control form-control-lg"
                        formControlName="firstname"
                      />
                      <div
                        *ngIf="
                          form.get('firstname')?.invalid &&
                          form.get('firstname')?.touched
                        "
                      >
                        <small>  Firstname is required! </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="text"
                        placeholder="Lastname"
                        id="form3Example1n"
                        class="form-control form-control-lg"
                        formControlName="lastname"
                      />
                      <div
                        *ngIf="
                          form.get('lastname')?.invalid &&
                          form.get('lastname')?.touched
                        "
                      >
                      <small>  Firstname is required! </small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <h3>Date of birth</h3>
                  <input
                    type="date"
                    id="birthday"
                    name="birthday"
                    class="form-control form-control-lg"
                    formControlName="birthyear"
                  />
                  <div
                    *ngIf="
                      form.get('birthyear')?.invalid &&
                      form.get('birthyear')?.touched
                    "
                  >
                    <small >Date of birth is required!</small> 
                  </div>
                </div>

                
                  <h3>Work Experiance</h3>
                  
                  <div>
                  <button type="button" class="btn btn-success" (click)="addExperience()">Add Experiance</button>
                   
                   </div>
                   <br>
                  <div  formArrayName="experience">
                 
                  <ng-container *ngFor="let object of experienceFormArray.controls, let i = index">

                  
                     <div [formGroupName]="i">
                      <div class="row">
                  <div class="col-md-6 mb-4">
                    <input
                      formControlName="company"
                      
                      class="form-control form-control-lg"
                      type="text"
                      placeholder="Company Name"
                      

                    />
                    <div
                      *ngIf="
                      object.get('company')?.getError('required') &&
                      object.get('company')?.touched
                      "
                    >
                      <small> Company name is required!</small>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <input
                      formControlName="years"
                      
                      class="form-control form-control-lg"
                      type="text"
                      placeholder="Years"
                     
                    />
                    <div
                      *ngIf="
                      object.get('years')?.getError('required') &&
                      object.get('years')?.touched
                      "
                    >
                     <small> Years is required !</small>
                    </div>
                    <div *ngIf="object.get('years')?.getError('maxlength')">
                     <small>  Maxlength must be least 2 charachters !</small>
                    </div>
                  </div>
                </div>
                </div>
                <button class="btn btn-danger " type="button" (click)="removeExperience(i)">Remove Experiance</button>
                </ng-container>
                </div>
                
                <div formGroupName="contactInfo">
                      
                  

                  <h3>Contact Information</h3>

                  <div class="row">
                   
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                        
                          type="text"
                          placeholder="Linkdin"
                          id="form3Example1m"
                          class="form-control form-control-lg"
                          formControlName="linkdin"
                        />
                        
                        <div
                          *ngIf="
                            form.get('contactInfo.linkdin')?.invalid &&
                            form.get('contactInfo.linkdin')?.touched
                          "
                        >
                         <small> Linkdin is required !</small>
                        </div>
                        <div
                          *ngIf="
                            form.get('contactInfo.linkdin')?.getError('pattern')
                          "
                        >
                          <small> Linkdin format is incorrect ! </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          placeholder="GitHub"
                          id="form3Example1n"
                          class="form-control form-control-lg"
                          formControlName="github"
                        />
                        <div
                          *ngIf="
                            form.get('contactInfo.github')?.invalid &&
                            form.get('contactInfo.github')?.touched
                          "
                        >
                          <small> GitHub is required!</small>
                        </div>
                        <div
                          *ngIf="
                            form.get('contactInfo.github')?.getError('pattern')
                          "
                        >
                         <small>  GitHub format is incorrect !</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="form3Example1cg"
                      class="form-control form-control-lg"
                      placeholder="Address"
                      formControlName="address"
                    />
                    <div
                      
                    >
                     <small *ngIf="
                        form.get('contactInfo.address')?.invalid &&
                        form.get('contactInfo.address')?.touched
                      " > Address is required! </small>
                    </div>
                    <div
                      *ngIf="
                        form.get('contactInfo.address')?.getError('minlength')
                      "
                    >
                     <small>Minlength must be least 5 charachters</small> 
                    </div>

                    <label class="form-label" for="form3Example1cg"></label>
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="form3Example1cg"
                      class="form-control form-control-lg"
                      placeholder="Phone"
                      formControlName="phone"
                    />
                    <div
                      *ngIf="
                        form.get('contactInfo.phone')?.invalid &&
                        form.get('contactInfo.phone')?.touched
                      "
                    >
                     <small> Phone is required!</small>
                    </div>
                    <div
                      *ngIf="
                        form.get('contactInfo.phone')?.getError('minlength')
                      "
                    >
                     <small> Minlength must be least 9 charachters</small> 
                    </div>
                    <div
                      *ngIf="
                        form.get('contactInfo.phone')?.getError('maxlength')
                      "
                    >
                     <small> Maxlength must be least 15 charachters</small>
                    </div>

                    <label class="form-label" for="form3Example1cg"></label>
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="form3Example1cg"
                      class="form-control form-control-lg"
                      placeholder="Email"
                      formControlName="email"
                    />
                    <div
                      *ngIf="
                        form.get('contactInfo.email')?.invalid &&
                        form.get('contactInfo.email')?.touched
                      "
                    >
                      <small> Email is required!</small>
                    </div>

                    <div
                      *ngIf="form.get('contactInfo.email')?.getError('email')"
                    >
                     <small> Must be entered Email format!</small>
                    </div>

                    <label class="form-label" for="form3Example1cg"></label>
                  </div>

    

                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                  >
                    Register
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
